@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.dark-mode-btn::before {
  content: "";
  background-image: url("./image/moon.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}
